#external-styling {
	color: yellow;
}

* {
	font-family: "Arial", monospace;
	font-size: 20px;
}

h1 {
	font-size: 35px;
}

#learn-in-this-bootcamp {
	text-transform: uppercase;
}

.language {
	background-color: #B1D8B7;
}

[type] {
	border-width: 2px;
	border-style: solid;
	border-color: lightblue;
}

img + ol {
	list-style-type: none;
}

body img {
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

h3 ~ p {
	text-align: center;
}

body > footer > ol  {
	letter-spacing: 5px;
}
